/* Header
------------------------------------------------------------*/
.c-header {
    .c-header__inner {
        height: 237px;
        background-color: rgb(0, 54, 99);
        display: flex;
        justify-content: center;
    }

    .c-header__logo {
        padding-top: 24px;
    }
}
